<!doctype html>

<html class="nie">
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <title>Marketwise</title>
  <link rel="icon" type="image/jpg" href="static/includes/logo.png">
  <meta charset="utf-8" />
  <metaname ="viewport"content="width=device-width,initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="static/css/Map.css">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="static/includes/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="static/cssmap-continents/cssmap-continents.css" media="screen" />
  <script type="text/javascript" src ="static/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<style>
  h1{
    font-family: "arial";
    color: #006A7C;}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #111;
  }

  .active {
      background-color: #006A7C;
  }
  .fa {
    color: #006A7C;
  }
  </style>
</head>
<body id="demo-page-continents">
  <div class='row text-center heading'>
    <h1> About Marketwise</h1>
  </div>

  <ul>
  <li><a style="color:white" href="/">Home</a></li>
  <li><a class="active"style="color:white" href="about">About</a></li>
  <li style="float:right" ><a style="color:white"href="newsletter">Newsletter</a></li>
  <li><a style="color:white" href="contact.html">Contact</a></li>
   <li><a href="http://twitter.com/winningcfg"><i class="fa fa-twitter fa-1.5x"></i></a>            
  <li class ="search-bar">
   <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
  </li>
  </ul>


    <section id="section-demo">
     <hr />

<div class="item">
  <img src="static/Financial_Market.jpg" alt="Financial market image" style="padding:25px; margin-left: 50px; width: 1200px; height: 350px;"/>

  </div>

 <!-- HEAD  -->
     <div class="text" style="text-align: center; font-family: serif;: "> 
<!--<h2> At MarketWise we want to help make financial news more accessible to those who have hectic schedules, want to find out about region specific news and who want to receive simple daily news bites to their email. -->

    
<h5> At MarketWise we want to help make financial news more accessible to those who have hectic schedules, want to find out about region specific news and who want to receive simple daily news bites to their email.

  <!-- origin/master  -->

Markets are rapidly changing and we want to help you keep up to date. Ever had your boss ask you what is going on with equities in China today… and you find yourself scrolling endlessly through online news platforms to find out something pertaining to their random ask? We’ve got you. 
<br><br>Do you stay awake all night before an interview for a role which requires that you follow the markets? Well you no longer have to worry about where you can get a concise overview of asset class information, trends and region specific news, just head over to our website. We’ve got you.


Let’s develop our understanding of the markets together, let’s get MarketWise.</br></br></h5>

    </div>



      <!-- MAP SETTINGS -->



<option value="1450" selected>
                 </select>
                </div>
              </li>

      <!-- END OF THE MAP SETTINGS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
<script type="text/javascript" src="static/includes/script.js"></script>
</body>
</html>
