<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<title>Africa</title>
<style>
	h1{
	font-family: "arial";
	color:#006A7C;
}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.fa {
    color: #006A7C;
</style>
</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="about">About</a></li>
  <li tyle="float:right"><a href="newsletter">Newsletter</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="http://twitter.com/winningcfg"><i class="fa fa-twitter fa-1.5x"></i></a>
  <li class ="search-bar">
   <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
  </li>
  </ul>

</ul>
<p><h1>Africa news</h1></p>
{% for entry in entries %}

  <h2><a href="#" onclick='window.open("{{ entry["URL"] }}");return false;'>{{ entry["Title"] }}</a></h2>
  <img src={{entry["Thumbnail"]}}></img>
  <h3>Summary:{{ entry["Summary"] }}</h2>
  <h3>Published on: {{entry["Published on"]}}</h2>
  <h3>Source: {{entry["Source"]}}</h3>

{% endfor %}
</body>
</html>
