<!doctype html>

<html class="nie">
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <title>Marketwise</title>
  <link rel="icon" type="image/jpg" href="static/includes/logo.png">
  <meta charset="utf-8" />
  <metaname ="viewport"content="width=device-width,initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="static/css/Map.css">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="static/includes/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="static/cssmap-continents/cssmap-continents.css" media="screen" />
  <script type="text/javascript" src ="static/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<style>
  h1{
    font-family: "arial";
    color: #006A7C}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #111;
  }

  .active {
      background-color: #006A7C; 
      margin-bottom: 67 px
      margin-left: 100 px
  }
  .fa {
    color: #006A7C;
  }

  </style>
</head>
<body id="demo-page-continents">
  <div class='row text-center heading'>
    <h1> Marketwise</h1>
      <h6><em>Market Insights for those on the go</em></h6>
 <ul>
  <li><a class="active" style="color:white" href="map">Home</a></li>
  <li><a style="color:white" href="about">About</a></li>
  <li style="float:right"><a style="color:white" href="newsletter">Newsletter</a></li>
   
  <li><a style="color:white" href="#contact" data-toggle="modal">Contact</a>
  </li>
   <li><a href="http://twitter.com/winningcfg"><i class="fa fa-twitter fa-1.5x"></i></a>            
  <li class ="search-bar">
   <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
  </li>
  </ul>


    <section id="section-demo">
     <hr />
      <!-- MAP -->
      <div id="display-map" class="display-demo-map">
        <!-- CSSMap - Continents -->
<div id="map-continents">
 <ul class="continents">
  <li class="c1"><a href="africa">Africa</a></li>
  <li class="c2"><a href="asia">Asia</a></li>
  <li class="c3"><a href="australia">Australia</a></li>
  <li class="c4"><a href="europe">Europe</a></li>
  <li class="c5"><a href="northamerica">North America</a></li>
  <li class="c6"><a href="southamerica">South America</a></li> 
 </ul>
</div>
<!-- END OF THE CSSMap - Continents -->
<!--important--><div id="demo-form-fields" class="demo-form-fields">
        </div>
<div id="demo-agents" class="demo-agents-list wrapper">
</div>
<div id="demo-markers">
</div>
      <!-- END OF THE MAP -->

      <!-- MAP SETTINGS -->
      <div style="visibility: hidden">

        <form id="map-settings-form" name="map-settings-form" action="#" method="post" novalidate>
          <fieldset id="options-basic">
           <legend class="h-icon icon-options-settings"></legend>
            <ul>

                <label for="map-set-size"></label>
                <div class="select-field">
                 <select id="map-set-size" name="map-set-size">

<option value="1450" selected>
                 </select>
        </div>
              </li>

      <!-- END OF THE MAP SETTINGS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
<script type="text/javascript" src="static/includes/script.js"></script>
</body>
<ul class="navleft">


</html>
